body {
  margin: 0;
  font-family: "Source Sans Pro", arial;
  font-weight: 600;
}

.nav,
.footer {
  height: 75px;
  overflow: hidden;
  background-color: #444;
  width: 100%;
}

.nav {
  margin-top: 5px;
}

.footer {
  position: fixed;
  bottom: 0px;
  margin-bottom: 10px;
}

a {
  color: #f2f2f2;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
}

.nav a {
  float: left;
  display: block;
  padding: 25px 20px 20px;
}

.nav a:hover,
.footer a:hover {
  background-color: #333;
}

#title {
  font-size: 30px;
  margin-left: 100px;
  padding-top: 20px;
}

.nav-right {
  float: right;
  height: 100%;
}

.nav-right i {
  font-size: 36px;
  padding: 20px;
  box-sizing: border-box;
}

.regform {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 65%;
}

.regform p {
  font-size: 30px;
}

.regform div {
  display: inline-block;
  padding-right: 60px;
}

.label {
  display: block;
}

.regform input[type="text"],
select {
  width: 250px;
  display: inline-block;
}

.button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.regform a {
  color: blue;
}

.footer a {
  float: right;
  padding: 25px 20px 20px;
}
